body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
  }
  
  .mdl-layout{
    position: inherit !important;
    background-image: url('./img/background.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover !important;
  }