// FONTS
$fontDeaful: 'Roboto', 'Helvetica', 'Arial', sans-serif;

$HeaderFont: $fontDeaful;
$ParagraphFont: $fontDeaful;

//COLORS
$colorBlack: #000;
$colorWhite: #fff;
$colorGrey: #808080;

//SCREEN SIZES
$screen-min-width: 1025px;
$tablet-min-width: 481px;
$tablet-max-width: 1024px;
$smartphone-max-width: 480px;